@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap");
body {
  background-color: rgb(255, 235, 205);
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  text-align: center;
  justify-content: space-between;
  color: rgb(18, 11, 11);
  padding: 20px 25px;
  text-decoration: none;
  font-size: 20px;
  border: 10px;
  border-color: black;
}

.link {
  margin-left: 100px;
  margin-right: 100px;
  text-decoration: none;
}

h1 {
  text-align: center;
  border: solid rgb(173, 118, 118) 2px;
  background-image: linear-gradient(
    to right,
    rgb(250, 193, 143) 0%,
    rgb(250, 175, 110) 50%,
    rgb(251, 152, 66) 100%
  );
  background-size: 200% 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

a {
  color: rgb(0, 0, 0);
}

footer {
  background-color: black;
  margin-top: 100px;
}

.about-info {
  color: white;
  text-align: left;
  margin-left: 50px;
}

li {
  color: white;
}
