@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap");
body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar.hidden {
  top: -100px;
}
.navbar {
  background-color: chocolate;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: o;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s;
  border: solid rgb(173, 118, 118) 2px;
}
.companyname {
  border: solid rgb(255, 255, 255) 2px;
  background-color: chocolate;
  background-size: 200% 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.link {
  margin-left: 100px;
  margin-right: 100px;
  text-decoration: none;
}

.contact-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 100px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-top: 0;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #45a049;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

li {
  color: white;
}

footer {
  background-color: chocolate;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  display: inline-block;
  margin: 0 10px;
}
